body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #343a40;
}
header {
    margin-bottom: 0px;
}
.carousel-caption h2{
    font-size: 1.5em;
}
.carousel-inner img {
    filter: brightness(50%);
}
.carousel-caption {
    background: rgba(0, 0, 0, 0);
    padding: 20px;
    margin-bottom: 15px;
}
.card{
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #333;
}
.card h5 {
    border-color: #ff7f50;
    color: #ff7f50;
}

.col img {
    transition: transform 0.5s;
}
.col img:hover {
    background-color: #1e1e1e;
    transform: scale(1.05);
}
.lead {
    font-size: 1.2em;
}
.navbar-brand img {
    transition: transform 0.3s ease;
}
.navbar-brand img:hover {
    transform: scale(1.05);
    border-radius: 0;
}

.container{
    padding-bottom: 25px;
    padding-top: 5px;
    border-radius: 4px;
    background-color: #1e1e1e;
}

/* Table  */
.table-container{
    overflow: hidden;
}
.table {
    border-collapse: separate;
    border-spacing: 0 15px;
    transition: transform 0.3s ease;
}

.table th, .table td {
    vertical-align: middle;
    padding: 1rem;
}

.table th {
    background-color: #ff7f50;
    color: #1e1e1e;
    border-top: none;
    border-bottom: none;
    text-align: center;
}

.table td {
    background-color: #2e2e2e;
    color: #fff;
    border-top: none;
    border-bottom: none;
    text-align: center;
    transition: transform 0.3s ease;
}

.table tbody tr:hover {
    background-color: #444;
    transform: scale(1.05);
}

.tdhead {
    font-weight: bold;
}

.table-responsive {
    margin-top: 2rem;
}

.container h1 {
    color: #ff7f50;
    margin-bottom: 2rem;
}

footer {
    padding: 10px 0 1px;
    text-align: center;
    background-color: black;
    color: #f8f9fa;
}
