body {
    font-family: 'Arial', sans-serif;
    background-color: #343a40;
}
.navbar {
    margin-bottom: 30px;
}
.navbar-brand img {
    width: 90px;
    transition: transform 0.3s;
}
.navbar-brand img:hover {
    transform: scale(1.1);
}
.main-content {
    padding: 60px 0;
    margin-bottom: 15px;
    background-color: #1e1e1e;
    border-radius: 4px;
}
.main-content h1 {
    margin-bottom: 20px;
    color: #ff7f50;
}
.main-content h2{
    color: #f8f9fa;
}
.main-content p, .main-content form, .main-content li {
    font-size: 14px;
    line-height: 1.7;
    color: #f8f9fa;
}
.main-content form .form-group{
    margin-bottom: 20px;
    margin-left: 5px;
    width: 95%;
}
.btn-primary {
    margin-left: 5px;
    background-color: #ff7f50;
    color: #1e1e1e;
    border-color: #1e1e1e;
}
.btn-primary:hover {
    background-color: #1e1e1e;
    color: #ff7f50;
    border-color: #ff7f50;
}
footer {
    padding: 10px 0 1px;
    text-align: center;
    background-color: black;
    color: #f8f9fa;
}
