body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #343a40;
}
header {
    margin-bottom: 0px;
}
.carousel-inner img {
    filter: brightness(75%);
}
.carousel-caption {
    padding: 20px;
    border-radius: 10px;
}
.lead {
    font-size: 1.2rem;
}
.navbar-brand img {
    transition: transform 0.3s;
}
.navbar-brand img:hover {
    transform: scale(1.05);
}
.card{
    background-color: #1e1e1e;
    transition: transform 1s ease-in-out;
}
.card-title{
    color: #ff7f50;
    font-size: 2rem;
}
.card-text{
    color: #fff;
}
.card:hover{
    transform: scale(1.05);
}
.btn-custom {
    background-color: #708090;
    color: white;
}
.btn-custom:hover {
    background-color: #5a6c7a;
}
footer {
    padding: 10px 0 1px;
    text-align: center;
    background-color: black;
    color: #f8f9fa
}
